__pycache__
*.JPEG
*.dat
*.dot
*.gz
*.h5
*.jpg
*.npy
*.pb
*.pkl
*.png
*.profile-empty
*.tsv
*.v2
.idea
.ipynb_checkpoints
build/
data_science.egg-info/
homl/ch12_custom_models_and_training_with_tensorflow/model/
homl/ch12_custom_models_and_training_with_tensorflow/my_logs/
homl/ch13_Loading_and_Preprocessing_Data_with_TensorFlow/data/
homl/ch14_deep_computer_vision_using_convolutional_neural_networks/data/preprocessed
homl/ch15_processing_sequences_using_rnns_and_cnns/models
homl/ch19_training_and_deploying_tensorflow_models_at_scale/ch19_01_serving_a_tensorflow_model/learn-service-on-gcp-15c18be80a3f.json
homl/ch19_training_and_deploying_tensorflow_models_at_scale/ch19_02_deploying_a_model_to_a_mobile_or_embedded_device/model_converted_optimized_for_size.tflite
homl/ch19_training_and_deploying_tensorflow_models_at_scale/ch19_02_deploying_a_model_to_a_mobile_or_embedded_device/model_converted.tflite
homl/ch19_training_and_deploying_tensorflow_models_at_scale/ch19_02_deploying_a_model_to_a_mobile_or_embedded_device/bert/assets/vocab.txt
homl/ch19_training_and_deploying_tensorflow_models_at_scale/ch19_02_deploying_a_model_to_a_mobile_or_embedded_device/bert/variables/variables.data-00000-of-00001
homl/ch19_training_and_deploying_tensorflow_models_at_scale/ch19_02_deploying_a_model_to_a_mobile_or_embedded_device/bert/variables/variables.index
miscellaneous/pytorch/data/
scratch*
tmp
tmp.py

# pixi environments
.pixi
*.egg-info
