*.JPEG
*.dat
*.dot
*.gz
*.h5
*.jpg
*.npy
*.pb
*.pkl
*.png
*.profile-empty
*.tsv
*.v2
.idea
.ipynb_checkpoints
datasets
homl/ch12_custom_models_and_training_with_tensorflow/model/
homl/ch12_custom_models_and_training_with_tensorflow/my_logs/
homl/ch13_Loading_and_Preprocessing_Data_with_TensorFlow/data/
pytorch/data/
tmp
tmp.py
